<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.onlytechve.OTGps"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>OnlyTech GPS Tracker </name>

  <description>
     Aplicacion para rastreo de GPS
  </description>

  <author>
      OnlyTech C.A
  </author>

</widget>
